*{
    padding: 0px;
    margin: 0px auto;
    font-family: sans-serif,Arial, Helvetica;
    background: #eee;
    text-decoration: none;
}

#contentido{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 90px,1fr,50px;
    grid-template-areas: 
    "marca menu menu"
    "contenido contenido contenido"
    "pie pie pie";
    
}

/*Inicio de la cabecera*/

#header{
    display: grid;
    width: 100%;
    height: 80px;
    border-bottom: #444 solid 0px 0px 4px;

}
#logo{
    grid-area: marca;
    width: 20%;
    height: 80px;
    align-items: center;
    justify-content: center;
    

    
}
#logo a img{
    margin-left: 0px;
    width: 100%;
    height: 80px;
}
#menu{
    grid-area: menu;
    display: flex;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-top: -20px;
    list-style: none;
    text-align: center;

    
}
/*Fin de la cabecera*/