*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Inicio de la cabecera*/
#cabecera{
    display: block;
    height: 70px;
    margin-top: 28px;
    border-bottom: 1px solid #F5F6F7;
    border-right: 1px solid #F5F6F7;
    border-left: 1px solid #F5F6F7;
    
}

#logo{
    display: block;
    width: 100px;
    height: 90px;
}

#logo a img{
    width: auto;
    height: 90px;
    
}

#menu{
    margin-top: -70px;
}

#menu ul{
    list-style: none;
    float: right;
    

}
#menu ul li{
    display: inline-block ;
}

#menu ul li a{
    display: block;
    color: #868D95;
    margin: 6px;
    padding: 5px;
    text-decoration: none;
    font-family: sans-serif,Arial, Helvetica;
    font-size: 15px;
}

#menu ul li a:hover{
    color: #06BC9B;
    border-bottom: 1px solid #06BC9B;
    height: 42.5px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 300ms;
}

/*Fin de la cabecera*/


/*Inicio del Contenido*/
#contenido{
    margin-top: 23px;
    height: 90px;
    border-bottom: 1px solid #F5F6F7;
}

#contenido h3{
    
    color: #63707E;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;

}

#tarjeta-principal{
    margin-top: 20px;
    height: 370px;
    background-color: #F5F6F7;
}

#tarjeta-principal #tablet{
    position: relative;
    margin-top: 100px;
    margin-left: 27px;

}

#tarjeta-principal #note{
    position:initial;
    margin-top: 17px;
    margin-left: -100px;

}
#tarjeta-principal #cel{
    margin-top: 200px;
    margin-left: -3px;

}
#tarjeta-principal h3{
    display: block;
    float: right;
    width: 301px;
    height: 70px;
    font-size: 32px;
    color: #63707E;
    margin-right: 40px;
    margin-top: 114px;
    font-family:sans-serif,Arial, Helvetica;
    

}

#tarjeta-principal a{
    display: block;
    width: 260px;
    height: 50px;
    float: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #12AE9C;
    color: white;
    margin-top: -35px;
    text-align: initial;

}

#tarjeta-principal a:hover{
    color: #12AE9C;
    background: #2A3B4E;
}


#tarjeta-principal a img{
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 195px;
    margin-top: -28px;
}


#cards{
    height: 445px;
    margin-top: 20px;
    
}

.card{
    background-color: #F5F6F7;
    width: 350px;
    height: 445px;
    float: left;
    margin-right: 33px;
}

.card:first-child{
    margin-left: 0px;
}
.card:last-child{
    margin-right: 0px;
    margin-left: 0px;
}

.card img{
    display: block;
    width: 160px;
    height: 160px;
    margin-left: 30px;
    margin-left: 95px;
    margin-top: 25px;
}

.card-title{
    color: #12AE9C;
    font-size: 20px;
    text-align: center;
    font-family:sans-serif,Arial, Helvetica;
}

.card-text{
    color: #868D95;
    font-size: 17px;
    text-align: center;
    font-family: sans-serif,Arial, Helvetica;
}

.card-body a{
    background: #12AE9C;
    color: white;
    text-align: initial;
    width: 75%;
    height: 50px;
    font-size: 20px;
    margin-top: 5px;
    line-height: 38px;
    float: right;
    margin-right: -17px;
    margin-top: 17px;
}

.card-body a:hover{
    color: #12AE9C;
    background: #2A3B4E;
}


.card-body a img{
    display: block;
    
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 175px;
    margin-top: -35px;
}

.card-2 a{
    margin-top: 44px;
}

.card-3 a{
    margin-top: -7px;
}

/*Fin del Contenido*/

/*Inicio de footer*/

#footer{
    background: #2A3B4E;
    width: 100%;
    height: 215px;
    margin-top: 20px;
    

}

#footer:hover{
    background: #33485F;
}

#footer a img{
    width: 4%;
    height: auto;
    float: left;
    margin-top: 20px;
    

}

#footer a .google-mas{
    width: 6.5%;
    height: auto;
    margin-top: 25px;
}

#footer a:first-child img{
    margin-left: 40.5%;
    margin-right: 10px;
}


#footer #contenido-menu{
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

#footer #politicas{
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -15px;
}

#footer #copy{
    color: #868D95;
    text-align: center;
    font-size: 12.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
}

#footer #flecha-inferior{
    display: block;
    height: 75px;
    width: 100px;
    margin-left: 45%;
    margin-top: 12px;
}


/*Fin de footer*/
